@{
    ViewData["Title"] = "Contact us";
}

<form>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact Us
    <small>Feel Free to contact us</small></h1>
  </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"></span>
  </div>
  <input type="text" class="form-control" placeholder="Name" >
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"></span>
  </div>
  <input type="text" class="form-control" placeholder="Username" >
</div>



<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Message</span>
  </div>
  
  <textarea class="form-control" ></textarea>
</div>
<br>
 <button class="btn btn-primary" type="submit">Submit form</button>
</form>